html {
	background-color: black;
	overflow: hidden;
}

body {
	overflow: hidden;
}

.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.menu {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;

  height: 100%;
  width: 100%;

  position: fixed;
  left: 0;
  top: 0;

	&__interface {
    height: max-content;
    width: max-content;
	}

  &-play {
    color: white;
    font-size: 30px;
  }
}
