html {
	background-color: black;
	overflow: hidden;
}

body {
	overflow: hidden;
}

.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.menu {
  background-color: rgba(0, 0, 0, 0.3);

  height: 100%;
  width: 100%;

  position: fixed;
  left: 0;
  top: 0;
}